@font-face {
    font-family: 'Molle';
    src: url('fonts/Molle-Regular.woff2') format('woff2'),
        url('fonts/Molle-Regular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}

.leftsideimage {
    background-image: url("assets/leftsidebanner.jpg");
    flex: 1;
    background-size:cover;
    position:relative;
}

.maincontainer {
    flex: 3;
    flex-direction: column;
    display: flex;
    height: 100vh;
}

.logocontainer {
    font-family: 'Molle',sans-serif;
    background-color: rgba(0,0,0,.5);
    color: white;
    font-size: 2.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 8%;
    text-align: center;
}

.logocontainer img {
    min-height:130px;
    min-width:130px;
    max-width: 250px;
    max-height: 250px;
    padding-left: 2rem;
}

section {
    border: 1px black solid;
    flex: 1;
    padding: 1rem;
    line-height: 1.5rem;
}

#section_1 h1 {
    font-family: sans-serif;
    font-weight: 600;
}