@font-face {
    font-family: 'Molle';
    src: url('fonts/Molle-Regular.woff2') format('woff2'),
        url('fonts/Molle-Regular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

:root {
    --image-overlay-background: hsla(215 27.9% 16.9% / 0.7);
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
}
a {
    color: orange;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.leftsideimage {
    background-image: url("assets/leftsidebanner.jpg");
    flex: 1;
    background-size:cover;
    position:relative;
}

.maincontainer {
    flex: 3;
    flex-direction: column;
    display: flex;
    height: 100vh;
}

.logocontainer {
    font-family: 'Molle',sans-serif;
    background-color: var(--image-overlay-background);
    color: white;
    font-size: 2.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 35%;
    text-align: center;
}

.creditText {
    color: #fff;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 1rem;
    background-color: var(--image-overlay-background);
    font-size: 0.7rem;
}
.logocontainer img {
    min-height:130px;
    min-width:130px;
    max-width: 250px;
    max-height: 250px;
    padding-left: 2rem;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
    line-height: 1.5rem;
}

#section_1{
    background-color: #1F2937;
    color: #fff;
    align-items: flex-start;
    font-family: sans-serif;
    font-weight: 600;
    text-align: left;
}

#section_2 {
    background-color: #fff;
    color: #000;
    box-shadow: 0px 2px 10px #000;
    z-index: 2;
}
#section_3 {
    background-color: #E5E7EB;
    color: #1F2937;
    flex-direction: row;
    align-items: flex-start;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 10px;
    border-radius: 4px;
    border: 0;
    font-weight: 700;
}